.images-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 48px;
  row-gap: 64px;
  margin-bottom: 64px;
}

.images-list li {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.images-list img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
