* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

.images-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 16px;
}

.images-list li {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.images-list img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
