$grid-width: 1200px;
$gutter-vertical: 10px;
$gutter-horizontal: 10px;

@mixin generateGridClasses($break-point, $gap) {
  .col-full-#{$break-point} {
    width: 100%;
  }

  .col-1-2-#{$break-point} {
    width: calc((100% - #{$gap}) / 2);
  }

  .col-1-3-#{$break-point} {
    width: calc((100% - #{$gap} * 2) / 3);
  }

  .col-2-3-#{$break-point} {
    width: calc((100% - #{$gap} * 2) * 2 / 3 + #{$gap});
  }

  .col-1-4-#{$break-point} {
    width: calc((100% - #{$gap} * 3) / 4);
  }

  .col-2-4-#{$break-point} {
    width: calc((100% - #{$gap} * 3) / 2 + #{$gap});
  }

  .col-3-4-#{$break-point} {
    width: calc((100% - #{$gap} * 3) * 3 / 4 + 2 * #{$gap});
  }

  .col-1-6-#{$break-point} {
    width: calc(100% - #{$gap}* 5 / 6);
  }
}

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  @include respond(xlg) {
    @include generateGridClasses(xlg, $gutter-horizontal);
  }
  @include respond(lg) {
    @include generateGridClasses(lg, $gutter-horizontal);
  }
  @include respond(bg) {
    @include generateGridClasses(bg, $gutter-horizontal);
  }
  @include respond(md) {
    @include generateGridClasses(md, $gutter-horizontal);
  }
  @include respond(sm) {
    @include generateGridClasses(sm, $gutter-horizontal);
  }
  @include respond(phone) {
    @include generateGridClasses(phone, $gutter-horizontal);
  }
  @include respond(sm-phone) {
    @include generateGridClasses(sm-phone, $gutter-horizontal);
  }
}
